
<div class="wrap" >
    <div class="sub"  ng-controller="myController">
        <form  name="myForm">
            <h2>极品基佬站</h2>
            <label for="user" class="box1">
                <i id="pic1"></i>
                <input type="text" name="user" ng-model="username" required id="user"  placeholder="用户名">
            </label>
            <div class="prompt" ng-messages="myForm.user.$error" ng-if="myForm.user.$touched">
            <span ng-message="required">
                用户名不能为空
            </span>
            </div>
            <label for="password" class="box1">
                <i id="pic2"></i>
                <input type="password" name="password" ng-model="password" required id="password" placeholder="密码">
            </label>
            <div class="prompt" ng-messages="myForm.password.$error" ng-if="myForm.password.$touched">
            <span ng-message="required">
                密码不能为空
            </span>
            </div>
            <button type="button" id="btn" ng-click="login()">
                登陆
            </button>
        </form>

    </div>
</div>
