html {
    font-size: 62.5%;
}
body {
    padding:0;
    margin:0 auto;
    width:100%;
}
header {
    position: fixed;
    top:0;
    width:100%;
    height:8rem;
    background: #29bde0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
i {
    background: url("../img/sprites7-2.png") no-repeat;
    width:60px;
    height:60px;
    display:inline-block;
}
.menu {
    background-position: 0 0;
    margin-left: 2rem;
}
.closed {
    background-position: -60px 0;
    margin-right: 2rem;
}
h1 {
    color:#ffffff;
}
.top {
    position: fixed;
    top:8rem;
    width:100%;
    height:8rem;
    background: #b9e9f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
.top span {
    font-size: 3rem;
    margin-left: 4rem;
}
#a {
    width:8rem;
}
audio {
    background: url("../img/play.png");
}
.top2{
    width:100%;
    position: fixed;
    top:16rem;
    height:10rem;
    background: #29bde0;
    z-index: 1;
}
.triangle-down{
    position: relative;
    left:5rem;
    width:0;height:0;
    border-left:1rem solid transparent;
    border-right:1rem solid transparent;
    border-top:2rem solid #b9e9f5;
}
.top2 p {
    font-size: 2.5rem;
    margin:1rem 5.5rem;
    color:#ffffff;
}
.container-fluid {
    position: absolute;
    top:26rem;
    bottom:10rem;
    width:100%;
    background: #29bde0;
    margin:0;
    padding:0;
    overflow-x: hidden;
    overflow-y: auto;
}
.row {
    display: flex;
    justify-content: space-around;
    margin:0;
    padding:0;
}
.main {
    width:25%;
}
.box {
    text-align: center;
    border:0.5rem solid #ffffff;
}
.box div:first-child {
    padding:25% 0;
    line-height: 50%;
    font-size: 3rem;
    background: #f5c97b;
}
.box div:last-child {
    padding:15% 0;
    line-height: 30%;
    font-size: 2rem;
    background: #83b09a;
}
.sub {
    visibility: hidden;
    /*opacity: 0;*/
    width:100%;
    list-style: none;
    padding:0;
    margin:2rem 0;
}
.main:hover .sub {
    visibility: visible;
}
.sub div {
    display:inline-block;
    width:24%;
    padding:12% 0;
    margin:0 0.5%;
    background: url("../img/7-2sub.png") no-repeat;
    background-size: 200%;
    background-color: white;
}
.sub div:first-child {
    background-position: 0 0;
}
.sub div:nth-child(2) {
    background-position: 100% 0 ;
}
.sub div:nth-child(3) {
    background-position: 0 100% ;
}
.sub div:last-child {
    background-position: 100% 100%;
}




footer {
    position: fixed;
    bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width:100%;
    height:10rem;
    background: #29bde0;
}
footer a {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
button {
    width:80%;
    height:8rem;
    background: #fbb435;
    list-style: none;
}
.end {
    font-size: 3rem;
}

