html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background: #29bde0;
    border-bottom: 2px solid #74d4eb;
}
.back {
    margin-left: 2rem;
    width: 24px;
    height: 44px;
    background: url("../img/js3-arrow.png");
}
h1 {
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 5px;
    color: #ffffff;
}
.closed {
    margin-right: 2rem;
    width: 36px;
    height: 36px;
    background: url("../img/js3-closed.png");
}
.main {
    min-height: 100vh;
    padding: 5rem 0;
    margin-bottom: 20rem;
    width: 100%;
    background: #29bde0;
}
.row {
    width: 100%;
    margin: 2%;
    padding: 0;
}
.b-box {
    float: left;
    margin: 3rem 5%;
    width: 22%;
}
.box {
    border: 5px solid #ffffff;
}
.box1 {
    padding: 40% 0;
    line-height: 0;
    text-align: center;
    font-size: 3rem;
    background: #f5c97b;
}
.box2 {
    padding: 10% 0;
    line-height: 0;
    text-align: center;
    font-size: 3rem;
    color: #ffffff;
    background: #83b09a;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    line-height: 20rem;
    text-align: center;
    background: #29bde0;
}
footer button {
    width: 80%;
    height: 7rem;
    font-size: 3rem;
    vertical-align: middle;
    letter-spacing: 5px;
    color: #ffffff;
    outline: none;
    border: none;
    background: #ffa500;
}