html {
    font-size: 62.5%;
}
body {
    margin: 0;
    padding: 0;
    background: #f0f0f0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8rem;
    background: #29bde0;
}
.back {
    display: inline-block;
    margin-left: 1rem;
    width: 25px;
    height: 41px;
    background: url("../img/js-2-sprites.png") no-repeat;
    background-position: -77px -10px;
}
h1 {
    color: #ffffff;
    font-size: 3rem;
    font-weight: 400;
}
.help {
    display: inline-block;
    margin-right: 1rem;
    width: 47px;
    height: 47px;
    background: url("../img/js-2-sprites.png") no-repeat;
    background-position: -10px -10px;
}
.main {
    width: 100%;
    margin: 2rem 0;
    padding: 0;
    background: #f0f0f0;
}
.wrap1 {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 90%;
    background: #ffffff;
}
.left {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 60rem;
    overflow: hidden;
    border-right: 2px solid #d9d9d9;
}
.left span {
   font-size: 5rem;
}
.right {
    width: 80%;
    background: #fbfbfb;
}
.right-top {
    display: flex;
    justify-content: center;
    height: 50rem;
    border-bottom: 2px solid #d9d9d9;
}
.right-top label {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 3rem;
}
#killer,
#people {
    width: 50px;
    line-height: 30px;
    color: #ffa500;
    font-size: 3rem;
    text-align: center;
    border: none;
    outline: none;
    background: #f4f5f5;
}
#set {
    width: 100%;
    height: 10rem;
    color: #29bde0;
    background: #ffffff;
    border: none;
    outline: none;
}
#set span {
    font-size: 3rem;
    vertical-align: middle;
}
.set-game {
    display: inline-block;
    margin-left: 1rem;
    width: 14px;
    height: 14px;
    vertical-align: middle;
    background: url("../img/js-2-sprites.png") no-repeat;
    background-position: -10px -77px;
    transform: scale(1.2,1.2);
}
.wrap2 {
    width: 90%;
    height: 16rem;
    margin: 2rem auto;
    background: #ffffff;
}
.form-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    text-align: center;
}
#word1 {
    padding: 1rem 0;
    width: 90%;
    font-size: 3rem;
    border: none;
    border-bottom: 2px solid #f0f0f0;
}
.form-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8rem;
    text-align: center;
}
#word2 {
    padding: 1rem 0;
    width: 90%;
    font-size: 3rem;
    border: none;
    border-bottom: 2px solid #f0f0f0;
}
.form-bottom {
    width: 100%;
    height: 6rem;
}
.wrap3 {
    width: 90%;
    height: 16rem;
    margin: 0 auto;
    background: #ffffff;
}
.wrap3-top {
    display: flex;
    align-items: center;
    margin-left: 5%;
    height: 8rem;
    font-size: 3rem;
    vertical-align: middle;
}
#set-players {
    width: 6rem;
    height: 4rem;
    color: #ffa500;
    font-size: 3rem;
    text-align: center;
    background: #f4f5f5;
    border: none;
}
#req {
    margin-left: 2rem;
    color: #ffa500;
}
.wrap3-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8rem;
}
#btn1,
#btn2 {
    margin: 0;
    padding: 0;
    width: 28px;
    height: 28px;
    outline: none;
    border: none;
}
input[type=range] {
    -webkit-appearance: none;
    margin: 0 2rem;
    width: 20rem;
    height: .5rem;
    outline: none;
    background: #ffa500;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 3rem;
    height: 2rem;
    background: url("../img/js2-hk.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.wrap3-bottom label {
    line-height: 5rem;
}
footer {
    margin-bottom: 2rem;
    width: 100%;
    height: 10rem;
    text-align: center;
    background: #f0f0f0;
}
#play {
    width: 90%;
    height: 10rem;
    color: #ffffff;
    font-size: 4.5rem;
    letter-spacing: 6px;
    text-align: center;
    background: #fab344;
    border: none;
    outline: none;
}
